
{{>head}}
<body class="yh_buddies" >

  <a name="top"></a>

  <div id="wrapper">
    <div id="middle">

{{>leftcolumn}}

    <div id="right-column">

      <div id="main-title"><h3>Keep your friends close and your enemies closer</h3></div>

      <div id="new-thread">

          <p>We'll highlight your buddies posts and show you when they are online and you can ignore all those YH users you just can't tolerate.</p>

          <div class="dotted-bar"></div>

            <form action="/buddies" method="post" class="buddyform">
              <input type="hidden" name="redirect" value="1">

              <div class="biglabel">Add a Buddy / Ignore</div>

              <div id="buddy-input">
                <label for="username">Username:</label>
                <input type="text" name="username" value="{{prefill}}" id="username" maxlength="18" size="30"  />
                <input type="submit" name="submit" value="Add"  />
              </div>

              <div id="buddy-radios">
                <label>Pick one:</label>
                <div id="buddy-radio-inputs">
                  <input type="radio" name="command" value="buddy" checked="checked" id="cmd-buddy"  />
                  <label for="cmd-buddy">Buddy</label>
                  <input type="radio" name="command" value="ignore" id="cmd-enemy"  />
                  <label for="cmd-enemy">Ignore</label>
                </div>
              </div>

            </form>

          <div class="blueline"></div>

          <div class="biglabel">Buddies</div>

            <div id="buddy-listings">
{{#buddies}}
              <div class="buddy-listing">
                <div class="username">
                  <a href="/user/{{urlname}}">{{username}}</a>
                </div>
                <div class="online-status offline">offline</div>
                <a class="remove-acq" rel="{{username}}">remove</a>
                <a class="toggle-acq" rel="{{username}}">ignore</a>
              </div>
{{/buddies}}
            </div>

          <div class="blueline"></div>

          <div class="biglabel">Ignores</div>

          <div id="enemy-listings">
{{#ignores}}
              <div class="enemy-listing">
                  <div class="username">
                  <a href="/user/{{urlname}}">{{username}}</a>
                  </div>
                  <div class="online-status online">online</div>
                  <a class="remove-acq" rel="{{username}}">remove</a>
                  <a class="toggle-acq" rel="{{username}}">buddilize</a>
              </div>
{{/ignores}}
          </div>

          <div class="blueline"></div>

        </div>

      </div>

    </div>

  </div>

  <a name="bottom"></a>

  <div id="bottom">
  </div>

  <script>window.$ || document.write('<script src="/src/lib/jquery-2.0.3.min.js">\x3C/script>')</script>
  <script>window._ || document.write('<script src="/src/lib/underscore-min.js">\x3C/script>')</script>
  <script src="/js/global.js?v=28"></script>

</body>
</html>