{{>head}}
<body class="yh_thread yh_{{id}}" >

  <a name="top"></a>

  <div id="wrapper">
    <div id="middle">

{{>leftcolumn}}

      <div id="right-column">

        <div id="thread">
          <div id="main-title">
            <h3>Login Required</h3>
          </div>

          <p>
            Our content is so amazing that you have to be logged in to be able to view it.
          </p>

        </div>
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>
</div>

</div>

</div>
{{>footer}}
