{{>head}}
<body class="yh_password-reset">

  <a name="top"></a>

  <div id="wrapper">
    <div id="middle">

{{>leftcolumn}}

      <div id="right-column">

        <div id="main-title"><h3>Reset {{username}}'s password</h3></div>

{{#errorMessage}}
        <p class="error">{{errorMessage}}</p>

        <div class="dotted-bar"></div>
{{/errorMessage}}

        <div id="preferences">

          <form action="/password-reset" method="post">
            <div class="input text">
              <label for="password">New Password</label>
              <input type="password" name="password" id="password" value="" autocomplete="off" />
            </div>

            <div class="input text">
              <label for="password2">Confirm New Password</label>
              <input type="password" name="password2" id="password2" value="" />
            </div>

            <input style="margin-left:150px" type="submit" name="submit" value="Save">
            
            <br />

            <div class="blueline"></div>

            <input type="hidden" name="username" value="{{username}}">
            <input type="hidden" name="token" value="{{token}}">

          </form>

        </div>
      </div>
    </div>
{{>footer}}
