<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YayHooray</title>

    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/css/prettify.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/forum.css?v=28" />
    <script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
  </head>

<body class="yh_newthread" >

  <a name="top"></a>

  <div id="wrapper">
    <div id="middle">
      <div id="left-column">
        <a href="/" id="header">New Yay</a>
{{#user}}
        <div class="lc-node welcome">
          <h4>
            Hi, <a href="/user/{{urlname}}">{{username}}</a>
          </h4>
          <a href="/user/{{urlname}}">
        <img src="/img/emoticons/37.gif" class="main_avatar" />
          </a>
          <ul>
        <li><a href="/preferences" id="preferences">Preferences</a></li>
            <li><form action='/logout' method='POST'>
              <input type='submit' id="logout_btn" value="logout" /></form></li>
          </ul>
        </div>
        <div class="lc-node" id="messaging">
          <ul>
            <li class="messages">
              <a href="/messages/inbox">No New Messages</a>
            </li>
          </ul>
        </div>
{{/user}}
{{^user}}
        <div class="lc-node login" id="login-box">
          <h5>Not a member?</h5>
          <p><img src="/img/pinkies/07.gif" width="14" height="14" align="absmiddle"/>
          <a href="/auth/register" class="white">Click to register, n00b!</a></p>
          <p class="error"></p>
          <form action="/login" method="post" id="login-form">
            <div>
              <label for="username">U:</label>
              <input type="text" name="username" tabindex="1" id="username" />
              <button tabindex="3" type="submit">Booya!</button>
            </div>
            <div>
              <label for="password">P:</label>
              <input type="password" name="password" tabindex="2" id="password" />
              <a href="#" id="forgot-password">Forgot it?</a>
            </div>
          </form>
        </div>
{{/user}}
        <div class="lc-node" id="threads">
          <h3><a href="/">Threads</a></h3>
          <ul id="thread-categories">
            <li><a href="/f/discussions">Discussions</a>
              (7 minutes ago)</li>
            <li><a href="/f/projects">Projects</a>
              (1 hour ago)</li>
            <li><a href="/f/advice">Advice</a>
              (26 minutes ago)</li>
            <li><a href="/f/meaningless">Meaningless</a>
              (1 minute ago)</li>
          </ul>
          <ul id="special-threads">
            <li><a href="/">All Forums</a></li>
            <li><a href="/f/meaningful">All But Meaningless</a></li>
            <li><a href="/f/participated">Participated</a></li>
            <li><a href="/f/favorites">Favourite</a></li>
            <li><a href="/f/hidden">Hidden</a></li>
            <li><a href="/started/cham">Started</a></li>
          </ul>

           <ul id="search-title">
             <li>
               <strong>Search Thread Titles</strong><br/>
               <form name="search-box" id="search-box" method="" action="">
                 <input type="text" value="" name="search-phrase" id="search-phrase" placeholder="Search" />
                 <!--<label><input type="checkbox" id="search-titles" /> Titles</label>-->
                 <input type="submit" value="Go" />
               </form>
             </li>
           </ul>
          <hr />
          <a id="toggle-html" data-active="true">
             Turn off html</a>
         </div>

        <p><a href="http://www.rockethub.com/projects/27882-everything-will-be-okay-an-epic-documentary-about-als" class="everythingpic">Everything Will Be Ok</a></p>

         <div class="lc-node" id="buddy-list">
           <h3><a href="/buddies">Buddies</a>
            <a href="/users" class="users-link">(All users)</a></h3>


           <p>ONLINE BUDDIES (20/194)</p>
         <div>
             <span><a href="http://yayhooray.net/user/laocoon">Laocoon</a>,</span>
             <span><a href="http://yayhooray.net/user/pifman">Pifman</a>,</span>
             <span><a href="http://yayhooray.net/user/vord">Vord</a>,</span>
             <span><a href="http://yayhooray.net/user/aurezio">aurezio</a>,</span>
             <span><a href="http://yayhooray.net/user/beat">beat</a>,</span>
             <span><a href="http://yayhooray.net/user/bosk">bosk</a>,</span>
             <span><a href="http://yayhooray.net/user/cincinnati">cincinnati</a>,</span>
             <span><a href="http://yayhooray.net/user/epohs">epohs</a>,</span>
             <span><a href="http://yayhooray.net/user/lament">lament</a>,</span>
             <span><a href="http://yayhooray.net/user/nicko">nicko</a>,</span>
             <span><a href="http://yayhooray.net/user/purl">purl</a>,</span>
             <span><a href="http://yayhooray.net/user/raw">raw</a>,</span>
             <span><a href="http://yayhooray.net/user/reiver">reiver</a>,</span>
             <span><a href="http://yayhooray.net/user/roofcano">roofcano</a>,</span>
             <span><a href="http://yayhooray.net/user/sissypuff">sissypuff</a>,</span>
             <span><a href="http://yayhooray.net/user/slobirdrop">slobirdrop</a>,</span>
             <span><a href="http://yayhooray.net/user/sock">sock</a>,</span>
             <span><a href="http://yayhooray.net/user/tdc">tdc</a>,</span>
             <span><a href="http://yayhooray.net/user/tenkai">tenkai</a>,</span>
             <span><a href="http://yayhooray.net/user/warped">warped</a></span>
         </div>
       </div>

        <div id="ad-space">
        <div id="the-deck">
         <iframe src="/deck.html"></iframe>
         <div id="deck-title">
           <a href="http://www.coudal.com/deck">Ads Via The Deck</a>
           | <a id="hide-ads">Hide ads</a>          </div>
        </div>

        </div>
        <a href="http://patrickobrienfoundation.org/" id="pobf"><img src="/img/pobf.gif" /></a>

     </div>

     <div id="right-column">

<div id="main-title"><h3>Whatchu got to say?</h3></div>

<div id="new-thread">

  <p><strong>Think you have something good enough to say to post a thread about it? Well have it!</strong> Remember that posting a thread is no small thing. Millions of people will read it so make it good!</p>

  <div class="dotted-bar"></div>

  <form method="post" action="/newthread">
    <div class="inp">
            <label>Step 1: Pick a category</label>      <div id="category-selector">
        <input type="radio" name="categories[]" value="1" id="cat-discussions" tabindex="1"  />        <label for="cat-discussions">Discussions</label>        <input type="radio" name="categories[]" value="2" id="cat-projects" tabindex="2"  />        <label for="cat-projects">Projects</label>        <input type="radio" name="categories[]" value="3" id="cat-advice" tabindex="3"  />        <label for="cat-advice">Advice</label>        <input type="radio" name="categories[]" value="4" id="cat-meaningless" tabindex="4"  />        <label for="cat-meaningless">Meaningless</label>      </div>
    </div>
    <div class="inp">
            <label for="name">Step 2: Write a thread title</label>      <input type="text" name="name" value="" id="name" maxlength="96" size="30" tabindex="5"  />    </div>
    <div class="inp">
            <label for="thread-content-input">Step 3: Type the content of your thread </label>      <div id="pinkies">
        <a href="javascript:insertAtCaret('thread-content-input', '[:)]');">
          <img src="/img/pinkies/11.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[:(]');">
          <img src="/img/pinkies/01.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[:D]');">
          <img src="/img/pinkies/05.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[;)]');">
          <img src="/img/pinkies/07.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[:P]');">
          <img src="/img/pinkies/08.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[>|]');">
          <img src="/img/pinkies/14.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[:[]');">
          <img src="/img/pinkies/10.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[\'(]');">
          <img src="/img/pinkies/03.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[:*]');">
          <img src="/img/pinkies/17.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[B-]');">
          <img src="/img/pinkies/16.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[:=]');">
          <img src="/img/pinkies/27.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[:.]');">
          <img src="/img/pinkies/22.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[O]');">
          <img src="/img/pinkies/24.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[8)]');">
          <img src="/img/pinkies/09.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[:{]');">
          <img src="/img/pinkies/06.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[:@]');">
          <img src="/img/pinkies/20.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[%(]');">
          <img src="/img/pinkies/18.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[><]');">
          <img src="/img/pinkies/25.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[RR]');">
          <img src="/img/pinkies/23.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[NH]');">
          <img src="/img/pinkies/26.gif" /></a>
        <a href="javascript:insertAtCaret('thread-content-input', '[fbm]');">
          <img src="/img/pinkies/21.gif" /></a>
       </div>
      <div style="overflow:auto;">
      <textarea name="content" cols="90" rows="12" tabindex="6" id="thread-content-input" ></textarea>      <div id="post-shortcuts">
        <p>SHORTCUTS!</p>
        <ul>
          <li>&middot; <a href="javascript:insertAtCaret('thread-content-input', '<a href=%22%22></a>')">URL</a></li>
          <li>&middot; <a href="javascript:insertAtCaret('thread-content-input', '<img src=%22%22 />')">Image</a></li>
          <li>&middot; <a href="javascript:insertAtCaret('thread-content-input', '<spoiler></spoiler>')">Spoiler</a></li>
          <li>&middot; <a href="javascript:insertAtCaret('thread-content-input', '<code></code>')">Code</a></li>
          <li>&middot; <a href="javascript:insertAtCaret('thread-content-input', '<small>snigger</small>')">Snigger</a></li>
        </ul>
      </div>
      </div>
    </div>
  <button type="submit" name="" tabindex="7">Post Thread</button>
  <button type="button" id="preview-button"  tabindex="8">Preview</button>

  </form>

<div id="comment-preview" class="test-comment" style="display: none;">
  <div class="comment-container">
    <div class="user-block">
      <div class="username">You!</div>
      <div class="time">Seconds from now</div>

      <div class="user-information" style="background: url(/img/noavatar.gif);">
      <ul>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
      </ul>
    </div>
  </div>
  <div class="content-block">
    <div class="content"></div>
  </div>
  <div style="clear: both;"></div>
</div>


</div>
<script src="/js/thread.js"></script>           </div>

        </div>

    </div>

    <a name="bottom"></a>

    <div id="bottom">
    </div>

        <script src="/js/prettify.js"></script>
        <script>prettyPrint();</script>
    <script src="/js/global.js?v=28"></script>

</body>
</html>