{{>head}}
<body class="yh_auth yh_register">

  <a name="top"></a>

  <div id="wrapper">
    <div id="middle">

{{>leftcolumn}}
      <div id="right-column">

        <div id="main-title">
          <h3>OMG, you can Register?</h3>
        </div>
        <div id="new-thread">
          <p>
            <strong>Your application has been sent!</strong>
          </p>
          <p>
            As we speak, the good people of Yayhooray are reviewing and voting on your application. I'm sure they will find it fascinating.
          </p>
          <p>
            If your application is successful you will be notified at your email address, <strong>{{email}}</strong>
          </p>
        </div>

      </div>
      
    </div>
  </div>
{{>footer}}