{{>head}}
<body class="yh_user yh_{{profilename}}">

  <a name="top"></a>

  <div id="wrapper">
    <div id="middle">

{{>leftcolumn}}

      <div id="right-column">
        <div id="main-title"><h3>{{profilename}}</h3></div>
        <div id="user">

{{#flickr}}
          <div id="photostream">From Flickr:
            <div id="flickr_badge_uber_wrapper">
              <div id="flickr_badge_wrapper">
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=latest&size=s&layout=x&source=user&user={{flickr}}"></script>
              </div>
            </div>
          </div>
{{/flickr}}

          <div class="personal_info_box">
            <div id="information" class="standard_profile_info_box">
              <h3>{{profilename}}</h3>
              <span class="small_profile_caps">
{{#buddy}}
                <span class="buddy">BUDDY</span>
{{/buddy}}
{{#ignored}}
                <span class="enemy">IGNORED</span>
{{/ignored}}
{{#online}}
                <span class="online">ONLINE!</span>
{{/online}}
{{^online}}
                <span class="not_online">NOT ONLINE!</span>
{{/online}}
              </span>
              <br/>
{{#user}}
              &rarr; <a href='/message/send/{{profilename}}'>Send a message</a><br/>
              &rarr; <a href='/buddies/{{profilename}}'>Change buddy status</a><br/>
{{/user}}
              &rarr; <a href='/?postedby={{profilename}}'>View threads started</a>
            </div>
            <div id="stats" class="standard_profile_info_box">
              <h3>Stats</h3>
              {{profilename}} has been here since {{membersince}}.
              Since then, {{profilename}} has posted {{numthreads}} threads and {{numcomments}} comments.
              That's a total of {{postsperday}} posts per day.
              {{profilename}} last logged in on {{lastlogin}}. Currently, {{profilename}} is a friend of 110 users.
              {{profilename}} has {{points}} points and can spend another point {{nextpointtime}}.
            </div>
            <div id="information-bio" class="standard_profile_info_box">
              <h3>Info</h3>
{{#website1}}
              <span class='small_profile_caps'>URL 1: </span><a href="{{website1}}">{{website1}}</a><br/>
{{/website1}}

{{#website2}}
              <span class='small_profile_caps'>URL 2: </span><a href="{{website2}}">{{website2}}</a><br/>
{{/website2}}

{{#website3}}
              <span class='small_profile_caps'>URL 3: </span><a href="{{website3}}">{{website3}}</a><br/>
{{/website3}}
{{#aim}}
              <span class='small_profile_caps'>AIM: </span><a href="{{aim}}">{{aim}}</a><br/>
{{/aim}}
{{#gchat}}
              <span class='small_profile_caps'>GChat: </span><a href="{{gchat}}">{{gchat}}</a><br/>
{{/gchat}}
{{#msn}}
              <span class='small_profile_caps'>MSN: </span><a href="{{msn}}">{{msn}}</a><br/>
{{/msn}}

              <div id="social_icons">
{{#facebook}}
                <a href="http://www.facebook.com/{{facebook}}"><img src="/img/social_icons/facebook-icon.png" alt="Facebook." class="info_icon" /></a>
{{/facebook}}
{{#flickr}}
                <a href="http://www.flickr.com/photos/{{flickr}}"><img src="/img/social_icons/flickr-icon.png" alt="Flickr." class="info_icon" /></a>
{{/flickr}}
{{#lastfm}}
                <a href="http://www.last.fm/user/{{lastfm}}"><img src="/img/social_icons/lastfm-icon.png" alt="LastFM." class="info_icon" /></a>
{{/lastfm}}
{{#twitter}}
                <a href="https://twitter.com/{{twitter}}"><img src="/img/social_icons/twitter-icon.png" alt="Twitter." class="info_icon" /></a>
{{/twitter}}
              </div>
            </div>
{{#about}}
            <div id="information-desc" class="standard_profile_info_box">
              <h3>Description</h3>
              {{about}}
            </div>
{{/about}}
{{#lastfm}}
            <!--div id="information-desc" class="standard_profile_info_box">
              <h3>Listening to...</h3>
              <div class="lastfm_listing"><span class="lastfm_artist">M83</span> - <span class="lastfm_title">Midnight City (Man Without Country remix)</span> <span class="lastfm_date">Aug 31, 13 3:35am</span></div>
              <div class="lastfm_listing"><span class="lastfm_artist">Susanne Sundfør</span> - <span class="lastfm_title">White Foxes (Man Without Country remix)</span> <span class="lastfm_date">Aug 31, 13 3:31am</span></div>
              <div class="lastfm_listing"><span class="lastfm_artist">Hannah Cohen</span> - <span class="lastfm_title">Sunrise (Man Without Country remix)</span> <span class="lastfm_date">Aug 31, 13 3:27am</span></div>
              <div class="lastfm_listing"><span class="lastfm_artist">Lanterns on the Lake</span> - <span class="lastfm_title">If I've Been Unkind (Man Without Country remix)</span> <span class="lastfm_date">Aug 31, 13 3:23am</span></div>
              <div class="lastfm_listing"><span class="lastfm_artist">Moby</span> - <span class="lastfm_title">After (Man Without Country remix)</span> <span class="lastfm_date">Aug 31, 13 3:20am</span></div>
              <div class="lastfm_listing"><span class="lastfm_artist">Man Without Country</span> - <span class="lastfm_title">Tell All Your Friends (Man Without Country Remix)</span> <span class="lastfm_date">Aug 31, 13 3:16am</span></div>
              <div class="lastfm_listing"><span class="lastfm_artist">Archive</span> - <span class="lastfm_title">Wiped Out (Man Without Country remix)</span> <span class="lastfm_date">Aug 31, 13 3:13am</span></div>
              <div class="lastfm_listing"><span class="lastfm_artist">School of Seven Bells</span> - <span class="lastfm_title">Lafaye (Man Without Country remix)</span> <span class="lastfm_date">Aug 31, 13 3:08am</span></div>
              <div class="lastfm_listing"><span class="lastfm_artist">Active Child</span> - <span class="lastfm_title">Diamond Heart (Man Without Country remix)</span> <span class="lastfm_date">Aug 31, 13 3:03am</span></div>
              <div class="lastfm_listing"><span class="lastfm_artist">M83</span> - <span class="lastfm_title">Midnight City (Man Without Country remix)</span> <span class="lastfm_date">Aug 31, 13 2:59am</span></div>
              <a href="http://last.fm/user/{{lastfm}}" title="Last.FM profile.">See {{profilename}} on last.fm</a>
            </div-->
{{/lastfm}}
          </div>

          <div id="latest-posts{{#flickr}}-withflickr{{/flickr}}">
{{#comments}}
            <div class="post-container" id="post-946158">
              <div class="post-block">POST</div>
              <h3 class="recent-thread-title"><a href='/thread/{{threadurl}}'>{{threadtitle}}</a></h3>
              <div class="recent-post-content">
{{#viewhtml}}
                {{{content}}}
{{/viewhtml}}
{{^viewhtml}}
                {{content}}
{{/viewhtml}}
              </div>
              <hr/>
            </div>
{{/comments}}
          </div>
      
        </div>
        
      </div>
      
    </div>
    
  </div>
{{>footer}}