{{>head}}
<body class="yh_users">

  <a name="top"></a>

  <div id="wrapper">
    <div id="middle">

{{>leftcolumn}}

    <div id="right-column">
      <div id="main-title"><h3>How many Yay freaks does it take to screw in a light bulb?</h3></div>
      <div class="bottomdashed">
        <form name="search-box-user" id="search-box-user" method="" action="">
          Filter Usernames
          <input type="text" value="" name="startswith" id="search-phrase-user" />
          <input type="submit" value="Search" />
          Type the first few characters of the username.
        </form>
        Browse Users
        <a href="/users/0">0</a>
        <a href="/users/1">1</a>
        <a href="/users/2">2</a>
        <a href="/users/3">3</a>
        <a href="/users/4">4</a>
        <a href="/users/5">5</a>
        <a href="/users/6">6</a>
        <a href="/users/7">7</a>
        <a href="/users/8">8</a>
        <a href="/users/9">9</a>
        <a href="/users/A">A</a>
        <a href="/users/B">B</a>
        <a href="/users/C">C</a>
        <a href="/users/D">D</a>
        <a href="/users/E">E</a>
        <a href="/users/F">F</a>
        <a href="/users/G">G</a>
        <a href="/users/H">H</a>
        <a href="/users/I">I</a>
        <a href="/users/J">J</a>
        <a href="/users/K">K</a>
        <a href="/users/L">L</a>
        <a href="/users/M">M</a>
        <a href="/users/N">N</a>
        <a href="/users/O">O</a>
        <a href="/users/P">P</a>
        <a href="/users/Q">Q</a>
        <a href="/users/R">R</a>
        <a href="/users/S">S</a>
        <a href="/users/T">T</a>
        <a href="/users/U">U</a>
        <a href="/users/V">V</a>
        <a href="/users/W">W</a>
        <a href="/users/X">X</a>
        <a href="/users/Y">Y</a>
        <a href="/users/Z">Z</a>
      </div>

      <div class="pagination" id="pagination-top">
        <div class="main-pagination">
          {{#pages}}
          {{#separator}}
          <span class="ellipsis">...</span>
          {{/separator}}
          {{^separator}}
            {{#active}}
          <div class="selected-page">{{num}}</div>
            {{/active}}
            {{^active}}
          <a href="{{paginationroot}}{{url}}#pagination-top">{{num}}</a>
            {{/active}}
          {{/separator}}
          {{/pages}}
          <span class="paging-text">{{paginationtext}} users</span>
        </div>
      </div>

      <div id="users">
{{#users}}
        <div class="{{#isbuddy}}buddy-listing{{/isbuddy}} {{#isenemy}}enemy-listing{{/isenemy}} {{#isregular}}user-listing{{/isregular}}">
          <div class="username"><a href="/user/{{urlname}}">{{username}}</a></div>
          <div class="offline">NOT ONLINE</div>
          <div class="user_startdate">Member since {{created}}</div>
          <div class="user_logdate">Last log date {{last_login}}</div>
          <div class="user_logdate">
            {{threads_count}} threads &nbsp;|&nbsp; {{comments_count}} posts
          </div>
        </div>
{{/users}}
      </div>

      <div class="blueline">&nbsp;</div>

      <!--div class="pagination bottom">
        <div class="main-pagination">
          <div class="selected-page">1</div>
          <a href="/users/40/">2</a>
          <a href="/users/80/">3</a>
          <span class="ellipsis">...</span>
          &nbsp;
          <a href="/users/3280/">83</a>
        </div>
        <span class="paging-text">1 - 40 of 3298 Users</span>
      </div-->

    </div>
  </div>
{{>footer}}